body {
	font-family: 'Kodchasan', sans-serif;
	padding-left: 20px;
	background-color: #de4502;
	background-size: 100%;
	color: white;
	font-size: 10px;
}

img {
	padding:0;
	width:100%;
	height:auto;
}

h1 {
	text-align:left;
	font-size:14px;
	font-weight: 700;
	padding-top:20px;
	padding-left: 20px;
	margin-bottom:10px;
}

h2 {
	text-align: left;
	font-size: 14px;
	font-style: italic;
	padding-left: 20px;

}

.list {
	text-align:left;
	font-size:10px;
	font-weight:400;
	padding-left: 20px;
}

.song {
	padding-left: 20px;
}