h1 {
	font-size: 24px;
	color: #ed1134;
	text-align: center;
	margin: 0;
}

h2 {
	font-size: 12px;
	font-style: italic;
	text-align: center;
	padding-bottom: 50px;
	color: #ed1134;
	margin: 7px;
}

body {
	background-color: #0c032c;
	font-size: 14px;
	color: white;
	text-align: left;
	margin-top: 50px;
	margin-left: 100px;
	margin-bottom: 50px;
	line-height: 18px;
}

.copyright {
	text-align: left;
	font-size: 8pt;
	line-height: 11pt;
}